.board {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 250px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.game-finish-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);

    z-index: 100;
}

.game-finish-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-square-number-index {
    position: absolute;
    top: 4px;
    left: 3px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}

.game-square-alphabet-index {
    position: absolute;
    bottom: 3px;
    right: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}

.game-piece {
    width: 100%;
    height: 100%;

    svg {
        padding: 4px;
        width: 100%;
        height: 100%;
    }
}

.light-square-drag-highlight {
    background-color: rgb(226, 226, 165);
}

.dark-square-drag-highlight {
    background-color: rgb(199, 199, 109);
}

.light-square-move-highlight {
    background-color: rgb(226, 226, 165);
}

.dark-square-move-highlight {
    background-color: rgb(199, 199, 109);
}

.game-piece-drop-enter {
    border: 2px solid lightgrey;
}

.player-taken-pieces-container {
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    svg {
        padding: 2px;
        width: 100%;
        height: 100%;
    }
}